.container {
  padding: 50px 20px;
  background: url("../../../public/gradient-container.png");
  background-position: center;
  background-size: cover;
}

.cards {
  display: grid;
  grid-template-rows: 425px;
}

@media (min-width: 768px) {
  .container {
    padding: 80px 40px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 120px 100px;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 200px 400px;
    /* background-color: var(--background-color-green); */
  }
}
