.header {
  padding: 100px 20px;
  background: url("../../../public/fund-research-bcg.png");
  background-position: center;
  background-size: cover;
}

.headerTitle {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;

  color: var(--text-color);
}

@media (min-width: 768px) {
  .header {
    padding: 150px;
  }

  .headerTitle {
    font-size: 42px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 300px 400px;
    /* background-color: var(--background-color-green); */
  }
}
