.formContainer {
  padding: 53px 20px;
  padding-top: 0;
}

.formfield {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputLabel,
.inputfield {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: var(--color-grey-4);
}

.inputfield {
  padding: 15px;

  border-radius: 8px;
  border: 1px solid var(--color-grey-4);
  width: 100%;
  background: transparent;
}

.subjectContainer {
  margin-top: 24px;
}

.subjectTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--color-black-2);

  margin-bottom: 16px;
}

.subjectWrapper {
  columns: 2;
}

.subjectInput {
  margin-bottom: 20px;
}

.subjectLabel {
  margin-left: 5px;
}

.inputfield[aria-invalid="true"] {
  border-color: #ff0000;
}

.errorMessage {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.messageLabel {
  margin-bottom: 10px;
  display: inline-block;
}

.textarea {
  border: 1px solid var(--color-grey-4);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  color: var(--color-grey-4);
}

.submitButton {
  padding: 14px 70px;
  background-color: var(--primaryColor);
  color: var(--text-color);
  border-radius: 16px;
  margin-top: 40px;
  display: flex;
  justify-self: flex-end;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .formContainer {
    padding: 53px;
    padding-top: 30;
  }

  .inputLabel,
  .inputfield {
    font-size: 18px;
  }

  .inputfield {
    padding: 18px;
  }

  .subjectTitle {
    font-size: 20px;
  }

  .subjectWrapper {
    font-size: 18px;
  }

  .messageContainer {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    padding: 80px 50px;
    width: 60%;
  }

  .formSection {
    display: flex;
    flex-direction: row-reverse;

    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  }

  .inputLabel,
  .inputfield {
    font-size: 14px;
  }

  .inputfield {
    padding: 14px;
  }

  .subjectTitle {
    font-size: 18px;
  }

  .subjectWrapper {
    font-size: 14px;
  }

  .messageContainer {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .formContainer {
    width: 60%;
  }
}
